#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE					VFT_DLL
#define	VER_FILESUBTYPE					VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR 		"WDM Codec Driver"
#define VER_INTERNALNAME_STR            "codec.sys"
#define VER_ORIGINALFILENAME_STR        "codec.sys"

#include "common.ver"
