#include <mindrvrc.h>
#include "ESCPAGE.RCV"

1      RC_TABLES   PRELOAD MOVEABLE        ESCPAGE.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN.PFM
2      RC_FONT     LOADONCALL DISCARDABLE  PFM\SANSRF.PFM
3      RC_FONT     LOADONCALL DISCARDABLE  PFM\COURIER.PFM
4      RC_FONT     LOADONCALL DISCARDABLE  PFM\SYMBOL.PFM
5      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMANP.PFM
6      RC_FONT     LOADONCALL DISCARDABLE  PFM\SANSHN.PFM
7      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMANCS.PFM
8      RC_FONT     LOADONCALL DISCARDABLE  PFM\AVANT.PFM
9      RC_FONT     LOADONCALL DISCARDABLE  PFM\BOOKMAN.PFM
10     RC_FONT     LOADONCALL DISCARDABLE  PFM\ZAPFCH.PFM
11     RC_FONT     LOADONCALL DISCARDABLE  PFM\ZAPFDING.PFM
12     RC_FONT     LOADONCALL DISCARDABLE  PFM\MINCHO.PFM
13     RC_FONT     LOADONCALL DISCARDABLE  PFM\MINCHOV.PFM
14     RC_FONT     LOADONCALL DISCARDABLE  PFM\KGOTHIC.PFM
15     RC_FONT     LOADONCALL DISCARDABLE  PFM\KGOTHICV.PFM
16     RC_FONT     LOADONCALL DISCARDABLE  PFM\MGOTHIC.PFM
17     RC_FONT     LOADONCALL DISCARDABLE  PFM\MGOTHICV.PFM
18     RC_FONT     LOADONCALL DISCARDABLE  PFM\KYOUKA.PFM
19     RC_FONT     LOADONCALL DISCARDABLE  PFM\KYOUKAV.PFM
20     RC_FONT     LOADONCALL DISCARDABLE  PFM\SHOUKAI.PFM
21     RC_FONT     LOADONCALL DISCARDABLE  PFM\SHOUKAIV.PFM
22     RC_FONT     LOADONCALL DISCARDABLE  PFM\MOUHITSU.PFM
23     RC_FONT     LOADONCALL DISCARDABLE  PFM\MOUHITSV.PFM


STRINGTABLE

BEGIN
       1                  "Epson LP-2000"
       2                  "Epson LP-3000"
       3                  "Epson LP-7000"
       4                  "Epson LP-7000G"
       5                  "Epson LP-8000"
       257                "%d dots per inch"
       258                "HalfLetter 5.5 x 8.5 in"
       259                "Executive 7.25 x 10.5 in"
       260                "Government Legal 8.5 x 13.0 in"
       261                "Government Letter 8.0 x 10.5 in"
       262                "F4 210 x 330 mm"
       263                "Hagaki 100 x 148 mm"
       264                "Commercial10 4.125 x 9.5 in"
       265                "Folio 8.5 x 14 in"
       266                "A6 105 x 140mm"
       267                "Governmant Legal 8.5 x 13.0 in"
       268                "Governmant Letter 8.0 x 10.5 in"
       269                "Option Tray"
       270                "Front Tray"
       271                "LP8000FCDK"
       272                "LP8000FCA1"
       273                "LP8000FCA2"
       274                "LPFCDMG"
       275                "LPFCDGY"
END
