/********************************************************************/
/*        KBDNEC.RCV                                                */
/********************************************************************/
#include <version.h>


#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_KEYBOARD
#define VER_FILEDESCRIPTION_STR         "Windows NEC Keyboard Driver"
#define VER_INTERNALNAME_STR            "KEYBOARD"
#define VER_LEGALCOPYRIGHT_YEARS        "1991-1998"
#define VER_ORIGINALFILENAME_STR        "KEYBOARD.DRV"


#include <common.ver>

#include "kbd.h"

/*
US_KEYBOARD_TABLE RCDATA kbdus.kbd
*/
US_KEYBOARD_TABLE RCDATA kbdjp.kbd

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
IDS_ESCAPE 	,"ESC"
IDS_OEM_MINUS	,"-"
IDS_OEM_7    	,"^"
IDS_OEM_5    	,"\"
IDS_BACKSPACE	,"BS"
IDS_TAB		,"TAB"
IDS_OEM_3    	,"@"
IDS_OEM_4    	,"["
IDS_RETURN 	,"RETURN"
IDS_OEM_PLUS 	,";"
IDS_OEM_1    	,":"
IDS_OEM_6    	,"]"
IDS_OEM_COMMA	,","
IDS_OEM_PERIOD	,"."
IDS_OEM_2    	,"/"
IDS_OEM_8    	,"_"
IDS_SPACE  	,"SPACE"
IDS_KANJI	,"XFER"
IDS_NEXT   	,"ROLL UP"
IDS_PRIOR  	,"ROLL DOWN"
IDS_INSERT 	,"INS"
IDS_DELETE 	,"DEL"
IDS_UP     	,"UP"
IDS_LEFT   	,"LEFT"
IDS_RIGHT  	,"RIGHT"
IDS_DOWN   	,"DOWN"
IDS_CLEAR  	,"CLR"
IDS_HELP	,"HELP"
IDS_SUBTRACT	,"Num -"
IDS_DIVIDE	,"Num /"
IDS_NUMPAD7	,"Num 7"
IDS_NUMPAD8	,"Num 8"
IDS_NUMPAD9	,"Num 9"
IDS_MULTIPLY	,"Num *"
IDS_NUMPAD4	,"Num 4"
IDS_NUMPAD5	,"Num 5"
IDS_NUMPAD6	,"Num 6"
IDS_ADD    	,"Num +"
IDS_NUMPAD1	,"Num 1"
IDS_NUMPAD2	,"Num 2"
IDS_NUMPAD3	,"Num 3"
IDS_OEM_EQU	,"Num ="
IDS_NUMPAD0	,"Num 0"
IDS_SEPARETER	,"Num ,"
IDS_DECIMAL	,"Num ."
IDS_NONCONVERT	,"NFER"
IDS_F11    	,"f.11"
IDS_F12		,"f.12"
IDS_F13		,"f.13"
IDS_F14		,"f.14"
IDS_F15		,"f.15"
IDS_CANCEL	,"STOP"
IDS_SNAPSHOT	,"COPY"
IDS_F1     	,"f.1"
IDS_F2     	,"f.2"
IDS_F3     	,"f.3"
IDS_F4     	,"f.4"
IDS_F5     	,"f.5"
IDS_F6     	,"f.6"
IDS_F7     	,"f.7"
IDS_F8     	,"f.8"
IDS_F9     	,"f.9"
IDS_F10    	,"f.10"
IDS_SHIFT	,"SHIFT"
IDS_CAPITAL	,"CAPS"
IDS_KANA	,"¶Å"
IDS_MENU   	,"GRPH"
IDS_CONTROL	,"CTRL"

/*
   IDS_ESCAPE     ,"ESC"
   IDS_BACKSPACE,  "BS"
   IDS_OEM_MINUS  ,""
   IDS_OEM_PLUS   ,""
   IDS_OEM_4      ,""
   IDS_OEM_6      ,""
   IDS_RETURN     ,"ENTER"
   IDS_CONTROL    ,"CTRL"
   IDS_OEM_1      ,""
   IDS_OEM_7      ,""
   IDS_OEM_3      ,""
   IDS_LSHIFT     ,"SHIFT"
   IDS_OEM_5      ,""
   IDS_OEM_COMMA  ,""
   IDS_OEM_PERIOD ,""
   IDS_OEM_2      ,""
   IDS_RSHIFT     ,"SHIFT"
   IDS_MULTIPLY   ,"*"
   IDS_MENU       ,"GRPH"
   IDS_SPACE      ,"SPACE"
   IDS_CAPITAL    ,"CAPS LOCK"
   IDS_F1         ,"f.1"
   IDS_F2         ,"f.2"
   IDS_F3         ,"f.3"
   IDS_F4         ,"f.4"
   IDS_F5         ,"f.5"
   IDS_F6         ,"f.6"
   IDS_F7         ,"f.7"
   IDS_F8         ,"f.8"
   IDS_F9         ,"f.9"
   IDS_F10        ,"f.10"
   IDS_NUMLOCK    ,""
   IDS_OEM_SCROLL ,""
   IDS_HOME       ,"HOME"
   IDS_UP         ,""
   IDS_PRIOR      ,"ROLL DOWN"
   IDS_SUBTRACT   ,"-"
   IDS_LEFT       ,""
   IDS_CLEAR      ,"CLR"
   IDS_RIGHT      ,""
   IDS_ADD        ,"+"
   IDS_END        ,""
   IDS_DOWN       ,""
   IDS_NEXT       ,"ROLL UP"
   IDS_INSERT     ,"INS"
   IDS_DELETE     ,"DEL"
   IDS_OEM_102    ,"HELP"
   IDS_F11        ,"vf.1"
   IDS_F12        ,"vf.2"
*/
/* Special Extended Key names */
/*
   IDS_PrtScreen  ,""
   IDS_NumLock    ,""
   IDS_NumEnter   ,"ENTER"
   IDS_RCtrl      ,"CTRL"
   IDS_NumDiv     ,"/"
   IDS_AltGr      ,"GRPH"
   IDS_Home       ,""
   IDS_Up         ,""
   IDS_PgUp       ,"ROLL DOWN"
   IDS_Left       ,""
   IDS_Right      ,""
   IDS_End        ,""
   IDS_Down       ,""
   IDS_PgDown     ,"ROLL UP"
   IDS_Insert     ,"INS"
   IDS_Delete     ,"DEL"
*/
/* nexus names */
/*
	IDS_VK_LWIN   ,"Left Windows"
	IDS_VK_RWIN   ,"Right Windows"
	IDS_VK_APPS   ,"Application"
*/
/* Dead Key Names */
/*
   IDS_ACUTE0     ,"Acute"
   IDS_ACUTE1     ,"Acute"
   IDS_grave      ,"Grave"
   IDS_Circumflex ,"Circumflex"
   IDS_umlaut0    ,"Umlaut"
   IDS_umlaut1    ,"Umlaut"
   IDS_umlaut2    ,"Dot"
   IDS_Tilde      ,"Tilde"
   IDS_Cedilla    ,"Cedilla"
   IDS_Ring       ,"Ring"

   IDS_TildeH	  ,"Tilde"
   IDS_Circumflx2, "Circumflex"
   IDS_Hachek     ,"Hachek"
   IDS_Breve      ,"Breve"
   IDS_Dacute     ,"DoubleAcute"
   IDS_Ogonek     ,"Ogonek"

*/
END

