#include <mindrvrc.h>
#include "epson24c.rcv"

1      RC_TABLES   PRELOAD MOVEABLE        EPSON24C.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN05.PFM
2      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN06.PFM
3      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN10.PFM
4      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN12.PFM
5      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN15.PFM
6      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN17.PFM
7      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMAN20.PFM
8      RC_FONT     LOADONCALL DISCARDABLE  PFM\ROMANPS.PFM
9      RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS05.PFM
10     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS06.PFM
11     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS10.PFM
12     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS12.PFM
13     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS15.PFM
14     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS17.PFM
15     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANS20.PFM
16     RC_FONT     LOADONCALL DISCARDABLE  PFM\SANSPS.PFM
17     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR05.PFM
18     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR06.PFM
19     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR10.PFM
20     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR12.PFM
21     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR15.PFM
22     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR17.PFM
23     RC_FONT     LOADONCALL DISCARDABLE  PFM\COUR20.PFM
24     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST05.PFM
25     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST06.PFM
26     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST10.PFM
27     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST12.PFM
28     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST15.PFM
29     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST17.PFM
30     RC_FONT     LOADONCALL DISCARDABLE  PFM\PREST20.PFM
31     RC_FONT     LOADONCALL DISCARDABLE  PFM\SCRIPT05.PFM
32     RC_FONT     LOADONCALL DISCARDABLE  PFM\SCRIPT06.PFM
33     RC_FONT     LOADONCALL DISCARDABLE  PFM\SCRIPT10.PFM
34     RC_FONT     LOADONCALL DISCARDABLE  PFM\SCRIPT12.PFM
35     RC_FONT     LOADONCALL DISCARDABLE  PFM\SCRIPT15.PFM
36     RC_FONT     LOADONCALL DISCARDABLE  PFM\SCRIPT17.PFM
37     RC_FONT     LOADONCALL DISCARDABLE  PFM\SCRIPT20.PFM
38     RC_FONT     LOADONCALL DISCARDABLE  PFM\OCRA.PFM
39     RC_FONT     LOADONCALL DISCARDABLE  PFM\OCRB.PFM
40     RC_FONT     LOADONCALL DISCARDABLE  PFM\ORATOR.PFM
41     RC_FONT     LOADONCALL DISCARDABLE  PFM\ORATORS.PFM
42     RC_FONT     LOADONCALL DISCARDABLE  DBPFM\SNG1NN.PFM
43     RC_FONT     LOADONCALL DISCARDABLE  DBPFM\SNG2NN.PFM
44     RC_FONT     LOADONCALL DISCARDABLE  DBPFM\SNG1NH.PFM
45     RC_FONT     LOADONCALL DISCARDABLE  DBPFM\SNG2NH.PFM
46     RC_FONT     LOADONCALL DISCARDABLE  DBPFM\SNG1NC.PFM
47     RC_FONT     LOADONCALL DISCARDABLE  DBPFM\SNG2NC.PFM
48     RC_FONT     LOADONCALL DISCARDABLE  DBPFM\SNGV1NN.PFM

1      RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\EPSONXTA.CTT
2      RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\EPSONXTB.CTT

STRINGTABLE

BEGIN
       1                  "Epson LQ-1050C"
       257                "%d x %d"
       258                "A2 420 x 594 mm"
       259                "A3 Transverse 420 x 297 mm"
       260                "8 x 6 in"
       261                "Fanfold 14 7/8 x 11.69 in"
       262                "Fanfold 210 mm x 12 in"
       263                "Fanfold 358 mm x 12 in"
       264                "Fanfold 15 x 12 in"
       265                "Sheet Feeder - Bin 1"
       266                "Sheet Feeder - Bin 2"
       267                "OCR-B"
       268                "OCR-A"
       269                "Orator"
       270                "Orator-S"
       271                "Multifont Cartridge"
END
