#include <version.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR         "Example PCI Miniport"
#define VER_INTERNALNAME_STR            "EXPCIMP"
#define VER_LEGALCOPYRIGHT_YEARS        "1995-1996"
#define VER_ORIGINALFILENAME_STR        "EXPCIMP.PCI"

#include "common.ver"

