#define IDR_MENU 10000
#define IDM_FILE 10001
#define IDM_START_THREAD 10002
#define IDM_STOP_THREAD 10003
#define SEPARATOR 10004
#define IDM_EXIT 10005
IDR_MENU MENU
BEGIN
  POPUP "File"
  BEGIN
    MENUITEM "S&tart Thread",IDM_START_THREAD
    MENUITEM "Sto&p Thread",IDM_STOP_THREAD,GRAYED
    MENUITEM "",SEPARATOR
    MENUITEM "E&xit",IDM_EXIT
  END
END
