#define IDM_FILE 10001
#define IDM_CREATE_THREAD 10002
#define IDM_EXIT 10003
IDR_MENU MENU
BEGIN
  POPUP "File"
  BEGIN
    MENUITEM "&Create Thread",IDM_CREATE_THREAD
    MENUITEM "&Exit",IDM_EXIT
  END
END
