#include <mindrvrc.h>
#include "KS.rcv"

1      RC_TABLES   PRELOAD MOVEABLE        KS.GPC



STRINGTABLE

BEGIN
       1                  "KS 24«… «¡∏∞≈Õ(Epson LQ-500)"
       2                  "KS 24«… «¡∏∞≈Õ(Epson LQ-510)"
       3                  "KS 24«… «¡∏∞≈Õ(Epson LQ-800)"
       4                  "KS 24«… «¡∏∞≈Õ(Epson LQ-850)"
       5                  "KS 24«… «¡∏∞≈Õ(Epson LQ-950)"
       6                  "KS 24«… «¡∏∞≈Õ(Epson LQ-1000)"
       7                  "KS 24«… «¡∏∞≈Õ(Epson LQ-1050)"
       8                  "KS 24«… «¡∏∞≈Õ(Epson LQ-1500)"
       10                 "KS 24«… «¡∏∞≈Õ(±›º∫ PRT-2950)"
       11                 "KS 24«… «¡∏∞≈Õ(¥ÎøÏ DP-2400)"
       19                 "KS 24«… «¡∏∞≈Õ(¡¶¿œ¡§π– JP3400)"
       20                 "KS 24«… «¡∏∞≈Õ(¡¶¿œ¡§π– JP4500)"
       21                 "KS 24«… «¡∏∞≈Õ(¡¶¿œ¡§π– JP5600)"
       28                 "KS 24«… «¡∏∞≈Õ(Epson LQ-2500)"
       29                 "KS 24«… «¡∏∞≈Õ(Epson LQ-2550)"
       30                 "KS 24«… «¡∏∞≈Õ(Epson SQ-2000)"
       31                 "KS 24«… «¡∏∞≈Õ(Epson SQ-2500)"
       32                 "KS 24«… «¡∏∞≈Õ(Epson L-750)"
       33                 "KS 24«… «¡∏∞≈Õ(Epson L-1000)"
       9                  "KS 24«… «¡∏∞≈Õ(±›º∫ PRT-2750)"
       12                 "KS 24«… «¡∏∞≈Õ(¥ÎøÏ DP-2210)"
       13                 "KS 24«… «¡∏∞≈Õ(ªÔº∫ SP-2412HW)"
       14                 "KS 24«… «¡∏∞≈Õ(ªÔº∫ SP-2421HW)"
       15                 "KS 24«… «¡∏∞≈Õ(ªÔº∫ SP-2433HW)"
       16                 "KS 24«… «¡∏∞≈Õ(ªÔº∫ SP-4021HW)"
       17                 "KS 24«… «¡∏∞≈Õ(ªÔº∫ SP-4022HW)"
       18                 "KS 24«… «¡∏∞≈Õ(ªÔº∫ SP-4033HW)"
       22                 "KS 24«… «¡∏∞≈Õ(≈•¥–Ω∫ QP180)"
       23                 "KS 24«… «¡∏∞≈Õ(≈•¥–Ω∫ QP2100)"
       24                 "KS 24«… «¡∏∞≈Õ(≈•¥–Ω∫ QP2700)"
       25                 "KS 24«… «¡∏∞≈Õ(≈•¥–Ω∫ QP3100)"
       26                 "KS 24«… «¡∏∞≈Õ(≈•¥–Ω∫ QP3300)"
       27                 "KS 24«… «¡∏∞≈Õ(≈•¥–Ω∫ QP4800)"
       257                "%d x %d"
END
